.multiple-input-container {
	border: 1px #ccc solid;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	padding: 0;
	margin: 0;
	cursor: text;
	width: 100%;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;

	input {
		clear: both;
		width: 100%;
		border: 0;
		outline: none;
		box-sizing: border-box;
		border: 0 !important;
		padding: 6px 12px;
		height: 34px;
		background-color: transparent;
		box-shadow: none!important;

		&.multiple-input-error {
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px red !important;
			outline: thin auto red !important;
		}

		&:focus {
			border: 0!important;
			box-shadow: none;
		}
	}

	ul {
		list-style-type:none;
		padding-left: 0;
		margin-bottom: 0;
	}

	.multiple-input-item {
		margin: 3px 5px;
		padding: 3px 5px;
		border: 1px #BBD8FB solid;
		border-radius: 3px;
		background: #F3F7FD;

		.multiple-input-close {
			margin: 0 5px 0 0;
			top: 1px;
			position: relative;
		}
	}
}
